<h2>List of bookings</h2>
<% @bookings.each do |booking| %>
<p> Start date:
    <%= booking.start %>
</p>
<p> End date:
    <%= booking.end %>
</p>
<p> Purpose:
    <%= booking.purpose %>
</p>
<p> Room name:
    <%= booking.room.name %>
</p>
<% end %>
<%= link_to "Create New Booking", new_booking_path %>
